#goover, #explore, #hist, #animalDownload, #quakeDownload, #worldDownload{
  background-color: #1E7B14;
  border-color: #1E7B14;
  color:#FFFFFF;
}
.popover-title {
  color: #FFFFFF;
  background-color:#1E7B14;
}
.btn-myClass {
    background-color: #000000;
    border: none;
    color: white;
}